

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.rfm-marquee {
  z-index: 0 !important;
}

/* Container Size */
@media (max-width: 1600px) and (min-width: 1300px) {
  .container {
    max-width: 1050px;
  }
}
@media (max-width: 1300px) and (min-width: 1100px) {
  .container {
    max-width: 1000px;
  }
}
/* Container Size */

@media (max-width: 1000px) {
  .notHomePageSearch {
    /* display: none; */
  }
}


.festparaa {
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif;
  color: #000;
  line-height: 23px;
}

.festesssss {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  letter-spacing: 0;
}

.festviewwdetails {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.festheadingsss {
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  margin-top: 0;
}

.festmainheadingsss {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}

.festesssss svg {
  width: 17px;
  height: 17px;
}

.festfirstbanner .festdesktopbanner {
  width: 100%;
}

.withoutformseccc img {
  width: 100%;
}

.festivalbgggg {
  background-image: url('/public/images/summerfest/festbg.jpeg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.paddingsection {
  padding-top: 70px;
  padding-bottom: 70px;
}
